.controls
	display: block
	z-index: 1000
	position: absolute
	top: 10px
	right: 10px
	width: 360px
	height: 74px
	border: 1px solid #969dab
	box-shadow: inset 0px 0px 55px #949fa9, 2px 2px 3px #8a8f96
	opacity: 0.7
	&:hover
		opacity: 1
	label, section, input
		display: inline-block
		box-sizing: border-box
		line-height: 32px
	label
		width: 30%
		padding: 0px 10px
	section, input
		width: 30%
